*{box-sizing: border-box;}

html , body{
    padding: 0;
    margin: 0;
}

body{
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}

footer{
    position: relative;
    width: 100%;
    height: 7vh;
    text-align: center;
    background: #333333;
    color: silver;
}

footer h4{
    margin-top: 5px;
}
footer h4 span{
    color: white;
    display: inline-block;
    border-left: 1px solid white;
    padding-left: 10px;
}

header{
    position: fixed;
    top: 0px;
    height: 7vh;
    width: 100vw;
    background:#333333;
}

main{
    flex: 1 0 auto;
    width: 100vh;
    height:300vh;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown a{
    width: auto;
}

.dropdown ul{
    position: absolute;
    width: fit-content;
    top: 0px;
    left: -150px;
    height: 0;
    overflow: hidden;
    transition: 2s;
    opacity: 0;
}


.dropdown ul li{
    list-style-type: none;
}

.dropdown ul li a{
    display:block;
    background: white;
    width: 250px;
    text-align: center;
    height: 6vh;
    padding-top: 20px;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    
}

.dropdown ul li a:hover{
    background: #333333;
    color: white;
}
.dropdown:hover ul{
    height: 250px;
    opacity: 1;
    
}


.dropdown > a{
    color:white;
    text-decoration: none;
}


nav{
    position: relative;
    display: inline-block;
    left:20%;
    top:30%;
}

nav > a{
    text-decoration: none;
    margin-left: 60px;
    color:white;
}




nav > a:hover{
    color: steelblue;
}

.hover:hover > a{
    color: steelblue;
}

header form{
    position: relative;
    display: inline-block;
    left: 25%;
    top: 30%;
}

header form input{
    width: 250px;
    height: 3.5vh;
    padding-top: 5px;
    outline: none;
    border: none;
}

header form button{
    height: 3.5vh;
    width: 70px;
    font-size: 18px;
}

button{
    outline: none;
    cursor: pointer;
    border: none;
    background: steelblue;
}

button:hover{
    background: #333333;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
button:hover{
    color:white
}
header form input::placeholder{
    font-size: 16px;
    color: black;
}

header > a > .fa-search{
    width: 0px;
    display: inline-block;
    position: relative;
    left:25%;
    top:40%;
    overflow: hidden;
    color:rgb(189, 185, 185);
    margin-left: 0px;
}

header > a > .fa-bars{
    position: relative;
    left:-70%;
    top: 30%;
    font-size:25px;
    color:rgb(189, 185, 185);
    display: inline-block;
    width:0px;
    overflow:hidden;
    margin-left: 0px;

}

header > a > .fa-bars:hover , .fa-search:hover{
    color:white;
}

.banner{
    width: 100vw;
    height:100vh;
    
}

.banner img{
    height: 100%;
    width: 100%;
}

.banner .down{
    position: absolute;
    top:75%;
    font-size: 50px;
    color:white;
   
}

.banner div span{
    font-size: 40px;
}

.top{
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 50px;
    color:white;
}

.Featured{
    margin-top: 50px;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.Featured > div{
    position: relative;
    display: inline-block;
    width: 40vw;
    flex-wrap: wrap;
    height: 30vh;
    margin-top: 10px;
    margin-left: 90px;
    box-shadow: 1px 1px 24px silver;
    border-radius: 5px;
    overflow: hidden;
}

.Featured div div{
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.Featured div div img{
    display: inline-block;
    width:100%;
    height: 100%;
    transition: 2s;
}

.Featured div div img:hover{
    transform: scale(1.5);
}

.Featured div p{
    margin-left: 9px;
    position: absolute;
    bottom: -55%;
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: black;
}

.Featured img , .Featured #a{
    cursor: pointer;
}

.Featured div p a{
    display:block;
    color: white;
    width: 60%;
    margin-bottom: 20px;
    background: steelblue;
    margin-left: 20%;
    text-align: center;
    border-radius: 6px;
}

.Featured div h3 , .Featured #a{
    background: #333333;
    color: white;
    text-align: center;
    width: 40%;
    margin-left: 10px;
    border-radius: 6px;
}

.Featured div #a{
    display: block;
    background: none;
    border-top:1px solid #333333;
    border-bottom:1px solid #333333 ;
    border-left: 1px solid #333333;
    border-right:1px solid #333333;
    color: steelblue;
    transition: 1s;
}

.Featured #a:hover{
    background: #333333;
    color: white;
    width: 50%;
}

.Featured h1{
    text-align: center;
    color: steelblue;
}

.Featured h1 span{
    font-size: 23px;
}

.Featured > div:hover #a{
    margin-left: 137px;
}
@media screen and (max-width : 500px){
    nav{
        display: none;
    }   
}
@media screen and (max-width : 1200px){   
nav > a{
    margin-left: 90px;
}
header form{
    display: none;
}   
header > a > .fa-search{
    width:auto;
}

}
@media screen and (max-width : 900px){    
    nav > a{
        margin-left: 30px;
    }       

    
.banner img{
    display: none;
}


}
@media screen and (max-width : 500px){  
header form{
    display: inline-block;
}   
header > a >.fa-search{
    width:0px;
}

header > a > .fa-bars{
    width:auto;
    left: -60%;
}

.banner img{
    display: none;
}

}



